<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::#content})}">
<div class=" mx-auto" style="padding-top: 80px" id="content" >
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <a th:href="@{/tables/{id}(id=${databaseid})}" data-modal-target="default-modal" style="max-width: 140px" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
      Go Back
    </a>
    <div class="" style="justify-content: space-between;display: flex;padding: 20px 10px">
      <h2 class="text-2xl">All Items</h2>
      <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
        Create New Item
      </button>
    </div>
    <table id="default-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          SN
        </th>
        <th th:each="key:${keys}" scope="col" class="px-6 py-3" th:text="${key}">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="data, iterStat :${datas}" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" th:text="${iterStat.count}">

        </th>
        <th th:each="cell:${data}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" th:text="${cell.value}">
          <!-- Cell value -->
        </th>
        <td class="px-6 py-4">
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Insert New Row
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">


          <form id="myForm" th:action="@{/insert-tables/{id}/{tableName}(id=${databaseid},tableName=${tableName})}" onsubmit="submitForm" method="post" class="w-full mx-auto grid grid-cols-2 gap-2">

            <div th:each="key:${keys}" class="mb-5">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="${key}">Database Name</label>
              <input type="text" th:id="${'id-form-'+key}"
                     th:name="${key}"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"  />
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new account</button>
          </form>

          <!-- Modal footer -->
          <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button  data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission

    const form = document.getElementById('myForm');
    const formData = new FormData(form);

    // Convert FormData to JSON
    const json = {};
    formData.forEach((value, key) => {
      json[key] = value;
    });

    // Send the JSON data using fetch
    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json', // Set the correct content type
      },
      body: JSON.stringify(json), // Convert JSON to a string
    }).then(response => {
      if (response.ok) {
        window.location.reload()
      } else {
      }
    });
  }
  document.getElementById("myForm").addEventListener("submit",submitForm)
  </script>
</div>
</html>